version: 2.1

orbs:
  android: circleci/android@1.0.3
  gcp-cli: circleci/gcp-cli@2.2.0

# For my detailed documentation on CircleCi, see learningspace project
jobs:

  unit-test:
    executor:
      name: android/android-machine
      resource-class: xlarge
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - android/run-tests:
          test-command: ./gradlew testDebug
      - android/save-gradle-cache
      - android/save-build-cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit

  deploy-release-build: # Use fastlane to create a release build and push to Play store internal test track:
    executor:
      name: android/android-machine
      resource-class: xlarge
    steps:
      - checkout
      - android/restore-gradle-cache
      - android/restore-build-cache
      - run:
          name: Deploy a release build to Playstore production track
          command: bundle exec fastlane go_live # This command will reference our Fast-file and call the lane we specified.

workflows:
  bux-android-ci-cd-process:
    jobs:
      - unit-test
      - android/run-ui-tests:
          executor:
            name: android/android-machine
            resource-class: xlarge
          matrix:
            alias: ui_test_on_multiple_devices
            parameters:
              system-image:
                - system-images;android-30;google_apis;x86
                - system-images;android-29;google_apis;x86
          system-image: << matrix.system-image >>
          post-run-tests-steps:
            - checkout
            - run:
                name: Save test results
                command: |
                  mkdir -p ~/test-results/junit/
                  find . -type f -regex ".*/build/outputs/androidTest-results/.*xml" -exec cp {} ~/test-results/junit/ \;
                when: always
            - store_test_results:
                path: ~/test-results
            - store_artifacts:
                path: ~/test-results/junit
          filters:
            branches:
              only: circleci-and-fastlane-dump

      - deploy-release-build:
          requires:
            - unit-test
            #- android/run-ui-tests
          filters:
            branches:
              only: circleci-and-fastlane